@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,300;0,400;0,800;0,900;1,500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: url(../img/bg.jpg)no-repeat;
  background-size: contain;
  background-position: bottom;
}

header{
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo{
  position: relative;
  color: #FFC900;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navigation a{
  color: #FFC900;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: color;
}

header .navigation .active{
  color: #1A5F7A;
}

header .navigation a:not(:last-child){
  margin-right: 30px;
}

header .navigation a:hover{
  color: #1A5F7A;
}

.content{
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 70%;
  margin: 60px 100px;
}

.content .header_text h2{
  background-image: url(../img/txt_bg.jpg);
  background-repeat: repeat;
  background-size: 300px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  color: #FFC900;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.content .row_1{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-top: 60px;
  display: flex;
  width: 100%;
}

.content h3{
    color: #1A5F7A;
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    margin: 30px;
    text-transform: none;
}


.content .row_1 .box_text{
  order: 2;
  min-width: 100%;
  text-align: center;
}

.content img{
  max-width: 10%;
}

.content .row_1 .image_box{
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

label{
  display:none;
}

#check{
  z-index: 3;
  display: none;
}

#line{
  margin: 70px;
  background-color: #086E7D;
  min-height: 5px;
  border-radius: 5px;
}

@media (max-width: 1090px){

}

@media (max-width: 860px){
  header .navigation{
    display: none;
  }

  label{
    display: block;
    font-size: 25px;
    color: #FFC900;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover{
    color: #086E7D;
  }

  label .fa-xmark{
    display: none;
  }


  #check:checked ~ header .navigation{
    z-index: 2;
    position: fixed;
    background: rgba(999,999,999, 0.9);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~ header .navigation a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
    color: #FFC900;
  }

  #check:checked ~ header .navigation .active{
    color: #086E7D;
  }

  #check:checked ~ header .navigation a:hover{
    color: #086E7D;
  }

  #check:checked ~ header label .fa-bars{
    display: none;
  }

  #check:checked ~ header label .fa-xmark{
    z-index: 2;
    display: block;
    position: fixed;
  }

  label .fa-bars{
    position: absolute;
  }

  header .logo{
    position: absolute;
    bottom: -6px;
  }

  .content .header_text h2{
    font-size: 45px;
    line-height: 50px;
    text-align: center;
  }

}

@media (max-width: 660px){
  .content .header_text h2{
    font-size: 35px;
    line-height: 40px;
  }

  .content .row_1 .image_box{
    flex-direction: column;
    margin-bottom: 0px;
    align-items: center;
  }

  .content img{
    margin: 30px;
    max-width: 50%;
  }


}
